

/* 
Orange: #F15B31   Light Blue: #98D2BF  Dark Blue: #0D2C40
*/
header{
    text-align: center;
    background-color:ghostwhite
}
body {
  background-color: pink;
}   

h1 {
  
}
ul li{
 display: inline-block;
 margin: 0 5%;
 padding: 20px 50px;
}